.about h2,
.about h3 {
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
}

.about h2 {
    position: relative;
    display: inline-block;
    color: white;
    padding: 10px 20px 10px 5px;
    background: linear-gradient(45deg, rgb(246 9 113), rgb(196 1 148));
}

.about .red {
    color: var(--bg-color-3);
}

.about object {
    position: absolute;
    left: 0%;
    top: 50%;
    transform: translateY(-50%);
    width: 100vw;
    opacity: 0.7;
}

.about .content img,
.about .about-words {
    width: 45vw;
}

.about .content .about-words a {
    position: relative;
    padding: 10px 20px;
    font-size: 20px;
    text-decoration: none;
    display: inline-block;
    border-radius: 10px;
    --fancy-button-background: #ff006c;
    z-index: 2;
    transition: all 0.5s ease 0s;
}

@media (max-width: 692px) {
    .about .content {
        width: 100%;
    }

    .about .content img,
    .about .about-words {
        width: 100%;
    }

    .about .about-words {
        margin: 100px;
    }
}

@media (max-width: 541px) {
    .about .content .about-words a {
        display: inline-block;
        margin: 20px 10px;
    }
}

@media (max-width: 462px) {
    .about .about-words {
        margin: 50px;
    }
}
