.services {
  color: var(--bg-color-2);
}

.services h1.text {
  text-align: center;
  font-size: 2em;
}

.services h2 {
  position: relative;
  text-align: center;
  width: 90%;
  display: block;
  margin: auto;
}

.services h2::before,
.services h2::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 5px;
  border-radius: 0 0 100px 100px;
  background: var(--bg-color-2);
  top: 50%;
}

.services h2::before {
  left: 0;
}

.services h2::after {
  right: 0;
}

.services h2 span:nth-child(1) {
  background: var(--bg-color-1);
  padding: 0 20px;
}

.services h2 span:nth-child(2) {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  border-top: 5px dotted #000;
  z-index: -1;
}

/* LEARN MORE BUTTON */
.services a {
  position: relative;
  text-align: center;
  font-size: 25px;
  width: 90%;
  display: block;
  margin: auto;
  text-decoration: none;
  color: inherit;
}

.services a::before,
.services a::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 5px;
  border-radius: 0 0 100px 100px;
  background: var(--bg-color-2);
  top: -50%;
}

.services a::before {
  left: 0;
}

.services a::after {
  right: 0;
}

.services a span:nth-child(1) {
  position: relative;
  padding: 10px 20px;
  --fancy-button-background: #ff006c;
  border-radius: 10px;
  z-index: 2;
  transition: 0.5s;
}

.services a:hover span:nth-child(1) {
  --d: 150%;
  color: #fff;
}

.services a span:nth-child(1)::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background: var(--bg-color-1);
  z-index: -1;
}

.services a span:nth-child(1) i {
  transition: transform 0.3s ease-in-out;
}
.services a:hover span:nth-child(1) i {
  transform: translateX(10px);
}

.services a span:nth-child(2) {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  border-top: 5px dotted #000;
  z-index: -1;
}

.what-i-do {
  position: relative;
  min-height: 100vh;
  justify-content: space-around !important;
}

.what-i-do .box {
  width: 350px;
  height: 250px;
  font-size: 18px;
}

.what-i-do .box img {
  width: 150px;
}

.what-i-do .box svg {
  width: 150px;
}

.what-i-do .box .inner-box {
  margin-left: 20px;
}
